.container{
       
}

.image{
        background-image: url('../../images/photolinkblack.png');
}

#right-side{
        background-image: linear-gradient(to right, rgb(188, 220, 247,.5), rgb(118, 205, 245,.5), rgba(145, 194, 250, 0.4));
        height: 100vh;
        width: 500px;
        padding-top: 100px;
        padding-left: 90px;
        
}

#left-side{
        padding-top: 140px;
        padding-right: 50px;
}


.welcome-h4{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-style: italic;
}