.navbar-items{
    list-style: none;
    display: flex;
    justify-content: flex-end;
      margin-left: 100px;
}

.navbar{
   width: fit-content;
   display: flex;
   justify-content: flex-end;
   width: fit-content;
 
}

.button {


}