.navbar-nav{
  
}
 .container-fluid{
    
  
    
 }
 .navbar-brand{
    
 }

 .logo{
background: url('../images/photolinkblack.png') center / contain no-repeat;
    background-size: 175px;
    height: 35px;

 }
