.splashbarDiv {
    
}
.splashbarStyling {
  background-color: rgb(252, 240, 210);
  height: 50px;
  box-shadow: 1px 1px #d6d6d6d2;;
}

.splashbarUl {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-evenly;
  text-align: center;
  margin-right: 40px;
  font-size: 20px;
  text-decoration: none;
 
}

li {
  text-decoration: none;
  font-size: 17px;
  height: 35px;
  width: 80px;
  padding-top: 10px;
  
}

li:nth-child(3) {
    width: 110px;
  }

.button{
  
}

li:nth-child(3):hover {
  background-image: linear-gradient(rgb(255, 255, 255, .3), rgb(255, 255, 255, 1));
  width: 110px;
  border-bottom: 1.5px solid rgb(202, 192, 137);

}

li:nth-child(6):hover {
  background-image: none;
  border-style: none;

}
li:hover {
background-image: linear-gradient(rgb(255, 255, 255, .3), rgb(255, 255, 255, 1));
  height: 50px;
  width: 80px;  
  margin-bottom: 20px;
  border-bottom: 1.5px solid rgb(202, 192, 137);
}

.link {
  text-decoration: none;
  color: rgb(52, 54, 54);
  
}

.link:hover {
  height: 30px;
  color: rgb(52, 54, 54);
}
