.container{
  width: 100%;
  min-height: 100vh;
}
.review {
  display: flex;
  flex-direction: column;
  
  
  .reviews-list {
    display: flex;
    flex-direction: column-reverse;
    background-color: rgba(255, 255, 255, 0.747);
    margin-top: 3px;
    border-radius: 2px;
    border-style: solid;
    border-width: .5px;
    border-color: rgb(116, 116, 116);
   

  }

  .review-username{
    padding-left: 20px;
  }
}
