.review-cards{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 75px;
}

.myreview-date{
        padding-left: 20px;
}

.review-comment{
    padding-left: 15px;
    padding-right: 15px;
}